/* Base styles for mobile-first design */

.logo {
  margin-left: 30px; /* Adjust padding for smaller screens */
  height: 70px;
  width: auto; /* Adjust width for smaller screens */
}

/* .title {
  font-weight: bold;
  font-size: 50px; /* Adjust font size for smaller screens */
 */

.text-header {
  margin-left: 30px;
  font-size: 13px;
  font-weight: bold;
  color: rgba(146, 145, 145, 0.964);
}

#navbarScrollingDropdown {
  font-size: 13px;
  font-weight: 500;
  color: rgba(146, 145, 145, 0.964);
}

.nav-btn {
  margin-left: -200px;
  font-size: 13px;

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .logo {
    padding-left: 10px; /* Adjust padding for medium screens */
    margin-left: 10px;
    height: 30px; /* Adjust height for medium screens */
  }
  .title {
    font-size: 36px; /* Adjust font size for medium screens */
    margin-left: 20px; /* Adjust margin for medium screens */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {
    padding-left: 10px;
    margin-left: 10px;
    height: 30px;
  }
  .title {
    font-size: 38px;
    margin-left: 20px; /* Adjust margin for large screens */
  }
}

/* Optional: Specific adjustments for very small devices (max-width: 576px) */
@media (max-width: 576px) {
  .logo {
    padding-left: 10px; /* Adjust padding for very small screens */
    margin-left: 10px;
    height: 30px; /* Adjust height for very small screens */
    width: auto; /* Adjust width for very small screens */
  }
  .title {
    font-size: 30px; /* Adjust font size for very small screens */
    margin-left: 0px; /* Ensure the title is close to the logo */
  }
}
