/* Login.css */

.login {
  background-color: #f8f9fa;

}

.card {
  border: none;
}
.sign-up{
  border: #edecec solid 2px;
  padding: 10px 10px 10px 10px;
  background-color: #e1e0e0;
  font-size: 5px;
 
}
.btn-outline-secondary {
  border: none;
}

.forget {
  margin-left: 270px;
  font-size: 12px;
}

.text-sign {
  justify-content: center;
}

/* Media queries for responsiveness */
@media (max-width: 576px) {
  .card {
    padding: 1rem;
  }

  .forget {
    margin-left: 0;
    display: block;
    text-align: right;
  }

  .recaptcha-container {
    width: 100%;
    margin-top: 5px;
  }

  .mb-4.text-center img {
    padding-left: 20px;
  }

  .toggle-icon {
    height: 20px;
    width: 20px;
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 1.5rem;
  }

  .mb-4.text-center img {
    margin-left: -100px;
  }

  .recaptcha-container {
    width: 100%;
    margin-top: 8px;
  }

  .forget {
    margin-left: 0;

    display: block;
    text-align: right;
  }


  .toggle-icon {
    height: 22px;
    width: 22px;
    margin-bottom: -50px;
    padding-top: 0px;
  }
}